@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
h2 , h2{
    font-family: 'Black Han Sans', sans-serif;
}
.logoimg{
    width: 100px;
}
.imgfooter{
    width: 250px;
}